@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Inter:wght@200&family=Noto+Sans+Siddham&family=Open+Sans:wght@300&display=swap');
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans Siddham', sans-serif;
}
body {

    @media (max-width: 900px) {
        overflow-x: hidden;
    }
}